

<div class="container"> 
  <div class="row" style="padding-top: 150px">
    <%= render "shared/circle" %>
  </div>
  <div class="row"> 
    <h1 class="text-center" style=" padding-top: 100px; padding-bottom: 50px; ">Tableau de bord</h1>
    <div class="col-xs-12 col-md-6 text-center">
      <h2>À la maison</h2>
      <h3>Total : <%= @maison %></h3> 
      <div class="row"> 
        <div class="col-xs-4">
          <div class="circle-emotion"> 
            <h3> <%= @emotion_maison_peur.count %></h3>
            <p>Peur</p>
          </div>
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_maison_colere.count %></h3>
            <p>Colère</p> 
          </div>
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_maison_tristesse.count %></h3> 
            <p>Tristesse</p>
          </div>
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_maison_culpa.count %></h3>
            <p>Culpabilité</p>
          </div>
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_maison_haine.count %></h3> 
            <p>Haine</p>
          </div>          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_maison_frustra.count %></h3>
            <p>Frustration</p>
          </div>          
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 text-center">
      <h2>Dans les transports</h2>
      <h3>Total : <%= @transports %></h3> 
      <div class="row"> 
        <div class="col-xs-4">
          <div class="circle-emotion"> 
            <h3><%= @emotion_transports_peur.count %></h3>
            <p>Peur</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
          <h3><%= @emotion_transports_colere.count %></h3>
          <p>Colère</p>
          </div>
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_transports_tristesse.count %></h3>
            <p>Tristesse</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_transports_culpa.count %></h3>
            <p>Culpabilité</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_transports_haine.count %></h3>
            <p>Haine</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_transports_frustra.count %></h3>
            <p>Frustration</p>
          </div>
          
        </div>
      </div> 
    </div>
    <div class="col-xs-12 col-md-6 text-center">
      <h2>Au travail</h2>
        <h3>Total : <%= @travail %></h3> 
        <div class="row"> 
        <div class="col-xs-4">
          <div class="circle-emotion"> 
            <h3><%= @emotion_travail_peur.count %></h3>
            <p>Peur</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_travail_colere.count %></h3>
            <p>Colère</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_travail_tristesse.count %></h3>
            <p>Tristesse</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_travail_culpa.count %></h3>
            <p>Culpabilité</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_travail_haine.count %></h3>
            <p>Haine</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_travail_frustra.count %></h3>
            <p>Frustration</p>
          </div>
          
        </div>
      </div>  
    </div>
    <div class="col-xs-12 col-md-6 text-center">
      <h2>Dans mon lit</h2>
      <h3>Total : <%= @lit %></h3> 
      <div class="row"> 
        <div class="col-xs-4">
          <div class="circle-emotion"> 
            <h3><%= @emotion_lit_peur.count %></h3>
            <p>Peur</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_lit_colere.count %></h3>
            <p>Colère</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_lit_tristesse.count %></h3>
            <p>Tristesse</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_lit_culpa.count %></h3>
            <p>Culpabilité</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_lit_haine.count %></h3>
            <p>Haine</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_lit_frustra.count %></h3>
            <p>Frustration</p>
          </div>
          
        </div>
      </div>  
    </div>
    <div class="col-xs-12 col-md-6 text-center">
      <h2>Dans un magasin</h2>
      <h3>Total : <%= @magasin %></h3> 
      <div class="row"> 
        <div class="col-xs-4">
          <div class="circle-emotion"> 
            <h3><%= @emotion_magasin_peur.count %></h3>
            <p>Peur</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_magasin_colere.count %></h3>
            <p>Colère</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_magasin_tristesse.count %></h3>
            <p>Tristesse</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_magasin_culpa.count %></h3>
            <p>Culpabilité</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_magasin_haine.count %></h3>
            <p>Haine</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_magasin_frustra.count %></h3>
            <p>Frustration</p>
          </div>
          
        </div>
      </div> 
    </div>
    <div class="col-xs-12 col-md-6 text-center">
      <h2>En vacances</h2> 
      <h3>Total : <%= @vacances %></h3> 
      <div class="row"> 
        <div class="col-xs-4">
          <div class="circle-emotion"> 
            <h3><%= @emotion_vacances_peur.count %></h3>
            <p>Peur</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_vacances_colere.count %></h3>
            <p>Colère</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_vacances_tristesse.count %></h3>
            <p>Tristesse</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_vacances_culpa.count %></h3>
            <p>Culpabilité</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_vacances_haine.count %></h3>
            <p>Haine</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_vacances_frustra.count %></h3>
            <p>Frustration</p>
          </div>
          
        </div>
      </div> 
    </div>
    <div class="col-xs-12 col-md-6 text-center">
      <h2>Au sport</h2> 
      <h3>Total : <%= @sport %></h3> 
      <div class="row"> 
        <div class="col-xs-4">
          <div class="circle-emotion"> 
            <h3><%= @emotion_sport_peur.count %></h3>
            <p>Peur</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_sport_colere.count %></h3>
            <p>Colère</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_sport_tristesse.count %></h3>
            <p>Tristesse</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_sport_culpa.count %></h3>
            <p>Culpabilité</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_sport_haine.count %></h3>
            <p>Haine</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_sport_frustra.count %></h3>
            <p>Frustration</p>
          </div>
          
        </div>
      </div> 
    </div>
    <div class="col-xs-12 col-md-6 text-center">
      <h2>Autre</h2> 
      <h3>Total : <%= @autre %></h3>
      <div class="row"> 
        <div class="col-xs-4">
          <div class="circle-emotion"> 
            <h3><%= @emotion_autre_peur.count %></h3>
            <p>Peur</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_autre_colere.count %></h3>
            <p>Colère</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_autre_tristesse.count %></h3>
            <p>Tristesse</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_autre_culpa.count %></h3>
            <p>Culpabilité</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_autre_haine.count %></h3>
            <p>Haine</p>
          </div>
          
        </div>
        <div class="col-xs-4"> 
          <div class="circle-emotion"> 
            <h3><%= @emotion_autre_frustra.count %></h3>
            <p>Frustration</p>
          </div>
          
        </div>
      </div>
  </div>

  <h1 class="text-center">Mes pensées</h1>
  <% @thought_checks.each do |thought_check| %>
    <%= render 'shared/card', thought_check: thought_check %>
    <hr>
  <% end %>
</div>

<script> 
//var control = document.getElementById('control');
var progressValue = document.querySelector('.progress__value');

var RADIUS = 54;
var CIRCUMFERENCE = 2 * Math.PI * RADIUS;

function progress(value) {
    var progress = value / 100;
    var dashoffset = CIRCUMFERENCE * (1 - progress);
    
    console.log('progress:', value + '%', '|', 'offset:', dashoffset)
    
    progressValue.style.strokeDashoffset = dashoffset;
};


setTimeout(progress(<%= (@emotion_maison_colere.count / @maison ) * 100 %>), 2000);

progressValue.style.strokeDasharray = CIRCUMFERENCE;


</script>



