<div class="main-container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= simple_form_for @thought_check do |f| %>
        <%= f.error_notification %>
        <%= render "#{@thought_check.current_step}_step", :f => f %>
        <%= f.submit "Continue", class: "btn btn-success" %>
        <%= f.submit "Back", :name => "previous_button", class: "btn btn-danger" unless @thought_check.first_step? %>
      <% end %>
    </div>
  </div>
</div>

