<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= simple_form_for [@thought_check] do |f| %>
        <%= f.error_notification %>
        <p>Où avez-vous été contrariété ? </p>
        <%= f.select(:situation, [['À la maison', 'À la maison'],
                                  ['Dans les transports', 'Dans les transports'],
                                  ['Au travail', 'Au travail'],
                                  ['Dans votre lit', 'Dans votre lit'],
                                  ['Dans un magasin', 'Dans un magasin'],
                                  ['En vacances', 'En vacances'],
                                  ['En rendez-vous', 'En rendez-vous'],
                                  ['Au travail', 'Au travail'],
                                  ['Je ne sais plus', 'Je ne sais plus'],
                                 ],{ :prompt => "Choisissez une réponse"},
                                   { :multiple => true, :size => 5 }
                                 ) %>
        <p>À propos de qui ou de quoi concerner cette contrariété ? </p>
        <%= f.select(:about, [['De moi', 'De moi'],
                                  ['Des autres', 'Des autres'],
                                  ['De ma vie', 'De ma vie'],
                                  ['De mon futur', 'De mon futur'],
                                  ['Du monde', 'Du monde'],
                                 ],{ :prompt => "Choisissez une réponse"},
                                   { :multiple => true, :size => 5 }
                                 ) %>
        <%= f.input :thought %>
        <%= f.select(:emotion, [['Peur', 'Peur'],
                                  ['Colère', 'Colère'],
                                  ['Tristesse', 'Tristesse'],
                                  ['Culpabilité', 'Culpabilité'],
                                  ['Haine', 'Haine'],
                                 ],{ :prompt => "Choisissez une réponse"},
                                   { :multiple => true, :size => 5 }
                                 ) %>
        <%= f.input :emotion_level %>
        <p>Avez-vous ressenti sensation phyique durant cette contrariété ? </p>
        <%= f.select(:physiological, [['Palpitations', 'Palpitations'],
                                  ['Transpiration', 'Transpiration'],
                                  ['Tremblements', 'Tremblements'],
                                  ['Panique', 'Panique'],
                                  ['Rien de tout cela', 'Rien de tout cela'],
                                 ],{ :prompt => "Choisissez une réponse"},
                                   { :multiple => true, :size => 5 }
                                 ) %>
        <%= f.button :submit, class: "btn btn-success"%>
      <% end %>
    </div>
  </div>
</div>

