<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= simple_form_for [@profile] do |f| %>
        <%= f.error_notification %>
        <%= f.input :username %>
        <%= f.input :age %>
        <%= f.input :gender %>
        <%= f.button :submit, class: "btn btn-success"%>
      <% end %>
    </div>
  </div>
</div>


